:root {
    --primary: #00AEE0;
    --secondary: #91C73E;
    --warning: #FF4800;
    --body: #222222;
    --payoniq: #FF4785;
    --contactless-payment: #1C3E72;
    --primary-dark: #20586F;
    --card-secondary: #E5E5E5;
    --last-money: #2ba653;
}
